<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

{{>menu}}

</body>
</html>

<script>
    let url = window.location.href.toString();
    url = url.slice(url.indexOf('/') + 2, url.length);
    let urlSegment = url.split('/');

    let link = document.querySelector(`.menu-link[href^=${urlSegment[2]}]`);
    if (link) {
        link.classList.add('active');
    }
</script>