<div class="navbar">
    <div class="icon"></div>

    <div class="menu">
        <a href="home" class="menu-link">Home</a>
        <a href="products" class="menu-link">Products</a>
        <a href="about" class="menu-link">About</a>
        <a href="contacts" class="menu-link">Contacts</a>
        <a href="">asdasd</a>
    </div>
</div>